.wrapper {
  width: 100svw;
  height: 100svh;
  box-sizing: border-box;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100svw;
  height: 100svh;
  opacity: 0.05;
  box-sizing: border-box;
  z-index: -1;

  display: flex;
  justify-content: center;
  align-items: center;

}

.background > img {
  width: 50svw;
}

.section {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.title {
  padding: 20px;
  font-size: 1.4rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}

.subtitle {
  padding: 20px;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 500;
}

.content {
  width: 75svw;
  height: auto;
  box-sizing: border-box;
  padding: 20px 0 20px 0;
  text-indent: 10%;
  text-align: justify;
}

.layout-wrapper {
  width: 100svw;
  height: auto;
  box-sizing: border-box;

  display: flex;
  flex-flow: row wrap;
  justify-items: center;
  align-items: center;
}

.layout {
  width: 50svw;
  box-sizing: border-box;
  padding: 0 20px 20px 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.layout-content {
  width: 50%;
  box-sizing: border-box;
  padding: 10px;
}

.layout-content > div:first-child {
  padding: 0 20px 20px 20px;
}

.layout-content > div:last-child {
  text-align: justify;
  text-indent: 10%;
}

.layout-img {
  width: 50%;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 20px;
}

.layout2-wrapper {
  width: 100svw;
  height: 100svh;
  box-sizing: content-box;

  display: flex;
  flex-wrap: wrap;
}

.layout2 {
  width: 24svw;
  height: auto;
  margin: calc(2svw/4);
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.layout2-content {
  padding: 0 10px 10px 10px;
  text-align: justify;
  text-indent: 10%;
}

.card {
  background-color: red;
  border-radius: 15px;
}

@media ( max-width: 1100px ) {
  .content {
    width: 90svw;
  }

  .layout {
    width: 100svw;
    padding: 0 0 20px 0;
    flex-direction: column;
  }

  .layout2 {
    width: 100svw;
    margin: 0;
  }

  .card {
    background-color: transparent;
    border-radius: 0;
  }

  .layout-content {
    width: 90%;
    padding: 10px 0 10px 0;
  }

  .layout2-content {
    width: 90%;
    padding: 0 0 10px 0;
    text-align: center;
    text-indent: 0%;
  }

  .layout2 > div:first-child {
    padding: 20px 10px 0 10px;
  }

  .layout-img {
    width: 90%;
    padding: 10px 0 10px 0;
  }
  
}