.wrapper {
  width: 100svw;
  height: 100svh;
  box-sizing: border-box;
}

.section {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.title {
  padding: 20px;
  font-size: 1.4rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}

.subtitle {
  padding: 20px;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 500;
}

.content {
  width: 75svw;
  height: auto;
  box-sizing: border-box;
  padding: 20px 0 20px 0;
  text-indent: 10%;
  text-align: justify;
}

.grips-wrapper {
  width: 100svw;
  height: auto;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  justify-items: center;
  align-items: center;
}

.grip {
  width: 50svw;
  box-sizing: border-box;
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.grip-content {
  width: 50%;
  box-sizing: border-box;
  padding: 10px;
}

.grip-content > div:first-child {
  padding: 0 20px 20px 20px;
}

.grip-content > div:last-child {
  text-align: justify;
  text-indent: 10%;
}

.grip-img {
  min-width: 50%;
  box-sizing: border-box;
  padding: 10px;
}

@media ( max-width: 1100px ) {
  .content {
    width: 90svw;
  }

  .grip {
    width: 100svw;
    flex-direction: column;
  }

  .grip-content {
    width: 90%;
  }

  .grip-img {
    width: 100%;
  }
  
}