@import './variables.module.scss';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 1.2rem;
  color: $lightText;

  background-color: $backgroundColor;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

::-webkit-scrollbar {
  display: none;
}

a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* ANIMATIONS */

@keyframes introAnimation {
  0%, 100% {
    opacity: (0);
  }

  30%, 70% {
    opacity: (1);
  }
}

.introAnimation {
  animation: introAnimation 3.5s ease;
}

@keyframes mainIntroAnimation {
  0%, 50% {
    opacity: (0);
  }
  100% {
    opacity: (1);
  }
}

.mainIntroAnimation {
  animation: mainIntroAnimation 3.5s ease;
}